## Final project description

In [1]:
#Data link: https://datacatalog.worldbank.org/dataset/world-development-indicators

The original data is quite large: about 700,000 rows. Original Data show:

In [3]:
import pandas as pd
Final = pd.read_csv("C://Users/Summer/Downloads/WDIFootNote.csv")
Final.head()

,CountryCode,SeriesCode,Year,DESCRIPTION,Unnamed: 4
0,ABW,AG.LND.FRST.K2,YR1990,Not specified,NaN
1,ABW,AG.LND.FRST.K2,YR2000,Not specified,NaN
2,ABW,AG.LND.FRST.K2,YR2005,Not specified,NaN
3,ABW,BM.KLT.DINV.CD.WD,YR1988,Source: United Nations Conference on Trade and...,NaN
4,ABW,BM.KLT.DINV.CD.WD,YR1989,Source: United Nations Conference on Trade and...,NaN

This is totally random data. The countries are shown below:

In [7]:
Country = pd.read_csv("C://Users/Summer/Downloads/WDICountry.csv")
Country.head(1)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2010,NaN,NaN,Yes,NaN,NaN,2016.0,NaN

SeriesCode means the problems in the country, including: 1.Agriculture and Food Security 2.Climate Change 3.Economic Growth 4.Education 5.Energy and Extractives 6.Environment and Natural Resources 7.Financial Sector Development Gender Health 8.Nutrition and Population 9.Macroeconomic Vulnerability and Debt 10.Poverty Private Sector Development 11.Public Sector Management 12.Social Development 13.Social Protection and Labor 14.Trade 15.Urban Development

Still not decided which problems will be remained due to too large dataframe. All countries will be covered and all years will be covered. For each problem, there are will be 263(Regions)* 57(years) = 14991(oberservations)

Purpose of final project: Analysis different countries' in one or two problems like economic growth change.